.pianoroll-svg {
  border: 1px solid #444;
  margin: 20px;
  overflow: auto;
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For Internet Explorer and Edge */
}

button {
  border: 0;
  padding: 0.3em 0.3em;
  font-size: 1.4em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
}
